<p id="notice"><%= notice %></p>
<body>
<div id="welcome_container">
<h2>Welcome to Chaguo lako</h2>

<% if admin_is_logged_in? %>
<%= link_to "View All Voters", voters_path %>
<% end %>

</div>
</body>
