<html>
<head>
	<meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
</head>
	<body>
		<h1>
			Congratulations <%= @voter.username %>
		</h1>
		<p>
			You have been accepted to be participating at Chaguo lako votting sessions.
		</p>
		<p>
			Vote wisely.!
		</p>
	</body>
</html>