<html>
<head>
	<meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
</head>
	<body>
		<h1>
			A New Poll Has Been Posted..!
		</h1>
		<p>
			A Fresh Poll has been posted. Its details are as below
		</p>
		<p>
			Name:
			Start Date: 
			Voting Deadline: 

		</p>
		<p>
			Ensure that you are available to vote on time.
		</p>
		<p>
			Vote wisely.!
		</p>
	</body>
</html>